{% extends 'base.html' %}

{% load static %}
{% comment %} 
 fonctionnalité future :
Cette page affiche les détails d'un rendez-vous individuel, y compris le nom, la description, la date et l'heure du rendez-vous. Le nombre total de rendez-vous est également affiché. {% endcomment %} 

{% block body %}
    <h1>Tous les rendez-vous</h1>
    {% if count == 0 %}
        <p>Aucun rendez-vous trouvé.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Date et heure</th>
                    <th>Téléphone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr>
                      <td>{{ appointment.user.nom }}</td>
                      <td>{{ appointment.date }}</td>
                      <td>{{ appointment.user.numero_de_telephone}}</td>
                      <td>{{ appointment.commentaires }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if prev_page %}
                <a href="?page={{ prev_page }}">Précédent</a>
            {% endif %}
            {% if next_page %}
                <a href="?page={{ next_page }}">Suivant</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}